<Loader::Loader
  @cnpjInputId={{this.cnpjInputId}}
  @cnpjId={{this.args.cnpjId}}
  @error={{this.error}}
  as |isRunning data|
>

  <div
    class='form-container'
    {{did-update (fn this.dataParser data) data}}
    {{did-update (fn this.addCnpjInput null this.args.cnpjId) (fn this.onSubmit) this.args.cnpjId}}
    {{did-update (fn this.onSubmit) this.args.cnpjId}}
  >
    {{! for when the request is made with the input}}
    <Form::Form
      @noValidate={{null}}
      @id={{'cnpj-form'}}
      @onSubmit={{this.onSubmit}}
      @target='cnpj-input'
    >
      <div class='cnpj-input-container'>
        <h1 class='cnpj-input-title'>Consultar dados de CNPJ grátis online</h1>
        <TextArea::TextArea
          @value={{this.cnpjInput}}
          @onInput={{this.addCnpjInput}}
          @onSubmit={{this.onSubmit}}
          @error={{this.error}}
          @isLoading={{isRunning}}
          @placeholder={{'Digite o número do CNPJ'}}
          @name={{'cnpj-input'}}
          @id={{'cnpj-input'}}
        />
      </div>
    </Form::Form>
  </div>
  {{yield this.formattedData this.cnpjInputId this.error isRunning}}
</Loader::Loader>