<Loader::Loader
  @cnpjInputId={{this.cnpjInputId}}
  @cnpjId={{@cnpjId}}
  @error={{this.inputErrorState.error}}
  as |isRunning data|
>
{{!-- {{log "data on hbs" data}} --}}

  <div
    class='form-container'
    {{did-update (fn this.addCnpjInput null @cnpjId) this.onSubmit @cnpjId}}
    {{did-update this.onSubmit @cnpjId}}
  >
  {{!-- {{log "error on HBS" this.inputErrorState.error}} --}}
    {{! for when the request is made with the input}}
    <Form::Form
      @noValidate={{null}}
      @id={{'cnpj-form'}}
      @onSubmit={{this.onSubmit}}
      @target='cnpj-input'
    >
      <div class='cnpj-input-container'>
        <h1 class='cnpj-input-title'>Consultar dados de CNPJ grátis online</h1>
        <TextArea::TextArea
          @focusOutInput={{this.onSubmit}}
          @value={{this.cnpjInput}}
          @onInput={{this.addCnpjInput}}
          @onSubmit={{this.onSubmit}}
          @error={{this.inputErrorState.error}}
          @isLoading={{isRunning}}
          @placeholder={{'Digite o número do CNPJ'}}
          @name={{'cnpj-input'}}
          @id={{'cnpj-input'}}
        />
      </div>
    </Form::Form>
  </div>
  {{yield data this.cnpjInputId this.inputErrorState.error isRunning}}
</Loader::Loader>