{{page-title
  'Consulte dados de um CNPJ online grátis em poucos segundos! - Consulta.guru'
}}
<div class='main-content' id='main-content'>
  <Loader::Loader
    @urlCnpj={{@model}}
    @cnpjInput={{this.cnpjInput}}
    @addCnpjInput={{this.addCnpjInput}}

    @shareCapitalParser ={{this.shareCapitalParser}}
    @economicActivitiesParser ={{this.economicActivitiesParser}}
    @adressParser ={{this.adressParser}}
    @legalNatureParser ={{this.legalNatureParser}}
    @dateParser ={{this.dateParser}}

    @hasError={{this.hasError}}
    @setErrorStatus={{this.setErrorStatus}}
    @addCnpjInput={{this.addCnpjInput}}
    @getCnpjData={{this.getCnpjData}}
    @queryResult={{this.queryResult}}
    @isLoading={{this.getCnpjData.isRunning}}
  />
</div>
{{outlet}}