<div class={{if this.args.hasError "input-container error" "input-container"}}>
  <div class='input-icon'>
    <svg viewBox='0 0 24 24' class={{if this.args.hasError "alert-icon-error" "alert-icon"}}>
      <path 
         d='M11,15H13V17H11V15M11,7H13V13H11V7M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20Z'
      ></path>
    </svg>
  </div>
  <input
    value={{this.args.value}}
    oninput={{this.args.onInput}}
    class={{if this.args.hasError "error" null}}
    placeholder={{this.args.placeholder}}
    name={{this.args.name}}
    id={{this.args.id}}
    {{!-- required={{this.args.required}} --}}
    {{!-- disabled={{this.args.disabled}} --}}
  />

  <div class='input-icon'>
    {{#if this.args.isLoading}}
      {{!-- LOADING... --}}
    {{else}}
      {{!-- <button onclick={{(perform this.args.onSubmit)}} type='button'> --}}
      <button onclick={{this.args.onSubmit}} type='button'>
        <svg
          class='search-icon'
          transform='rotate(10.8257)'
          aria-labelledby='title desc'
          role='img'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 19.9 19.7'
        ><title id='title'>Search Icon</title><desc id='desc'>A magnifying glass
            icon.</desc><g class='search-path' fill='none' stroke='#848F91'><path
              stroke-linecap='square'
              d='M18.5 18.3l-5.4-5.4'
            ></path><circle cx='8' cy='8' r='7'></circle></g></svg>
      </button>
    {{/if}}
  </div>
</div>